/* Add CSS Styling */

.odd-element {
    background-color: lightpink;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.second-element {
    color: blue;
    font-size: 36px;
}

.third-element {
    font-size: 24px;
}

.forth-element {
    background-color: lightgreen;
    font-weight: 700;
}