body {
  background: #eee;
  font-family: sans-serif;
}

div h1, div div, div button{
  font-size: 22px;
}

.card {
  width: 550px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 13px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
}